.land { stroke-width:1.0; }

.land:hover {
	/* fill: #67F7C1; */
	stroke: #67F7C1;
    stroke-width:1;
}


body { font-family: 'Lato',Helvetica, sans-serif; text-shadow: 1px 1px 1px #111; font-weight: 300;  }

header,
#details {
	position: absolute;
	left:30px;
}

h1 {
	color: white;
	font-size: 30px;
	font-weight: 300;
}

h2 {
	font-weight: 300;
	font-size: 70px;
	color: #15b290;
	margin: 0;
	padding: 0;
}

	h2 span {
		font-size: 50px;
		color: #afafaf;
	}

#details { position:absolute; top:60px; color:white; }

body { background-color: #111; }
circle { stroke:white; fill: white; fill-opacity: 0; stroke-width:2px; }
circle:hover { fill-opacity: 1; }

g.years text,
g.years text.migrations { fill: #bdc3c7; cursor:pointer; font-size:16px;    }
g.years text.migy { fill:rgb(166, 94, 79); cursor:pointer;  }

g.years text.sel { fill:white;
    /*text-shadow: 0px 0px 8px rgba(255, 255, 255, 1);*/

     }

g.arcs path,  #legend path {
    stroke: #090909; stroke-width:0.1;
    opacity: 1;
    fill: white;
}

g.arcs path:hover {
    fill:white;
}



#timeline {
    position:fixed;
    height:70px;
    bottom:0px;
    width:100%;
    background-color: #222;
}