body {
     font-family: 'Lato',Helvetica, sans-serif; text-shadow: 1px 1px 1px #111;
     font-weight: 300;
     padding:0;
     margin:0;
     background-color: #111;
 }

 #loading {
   position: fixed;
   top: 50%;
   left: 50%;
   margin-top: -12px;
   margin-left: -12px;
 }

 header {
     z-index: 200;
 }

 h1 {
     background-color: #111;
     color: white;
     font-size: 19pt;
     font-weight: bold;
     top: 0px;
     margin-top:0;
     padding-top:25px;
     padding-bottom: 10px;
     left:25px;
 }

 h2 {
     font-weight: 300;
     font-size: 70px;
     color: #15b290;
     margin: 0;
     padding: 0;
 }

 h2 span {
     font-size: 50px;
     color: #afafaf;
 }

 a {
     color: white;
     text-decoration: none;
 }

 /* INTRO STUFF */


 #guide {
     height: 100%;
 }

 #show-intro {
     display:none;
     cursor:pointer; opacity:0.7;
     position: absolute;
     left:30px; bottom:20px;
     color:white;
     font-size: 14px;
     border:2px solid #999;
     background-color: #111;
     padding:6px 7px 7px 7px;
     border-radius: 10px;
 }
 #show-intro:hover { opacity:1.0; }



 #guide aside {
     display: inline-block;
     padding: 0px 30px 0px 30px;
     /*width: 424px;*/
     width: 360px;
     height:500px;
     position: relative;
     top: 49%;
     margin-top:-250px;
     color: white;
     float:left;
     font-size:11pt;
 }


 #guide .content {
     height:25em;
 }

 #guide aside h2 { margin-top:40px; font-size:22pt; font-weight: bold; }

 #guide  aside p {
     padding-top:0px;
     padding-bottom:20px;
     margin-bottom:0;
     line-height: 24px;
     width: 90%;
 }


 #guide .skip {
     background: url('../images/skip.png') no-repeat;
     height: 31px;
     display: block;
     line-height: 31px;
     padding-left: 37px;
     margin-left: 20px;
     cursor:pointer;
 }

 #guide .next, #guide .prev, #guide .last {
     height: 76px;
     display: inline-block;
     line-height: 76px;
     padding-left: 90px;
     margin-bottom: 20px;
     cursor:pointer;
 }

 #guide .anim,
 #guide .skip,
 #guide .next,
 #guide .last,
 #guide .prev { opacity: 0.8; }

 #guide .anim:hover,
 #guide .skip:hover,
 #guide .next:hover,
 #guide .last:hover,
 #guide .prev:hover { opacity: 1.0; }

 #guide .anim {
     background: url('../images/play.svg') no-repeat;
     padding-left: 29px;
     line-height: 24px;
     text-align: right;
     vertical-align: middle;
     display: inline-block;
     cursor:pointer;
     margin-left:200px;
 }

 #guide .anim.playing {
     background: url('../images/pause.svg') no-repeat;
 }

 /*#guide .next,       #guide .prev       { opacity:0.5; }*/
 /*#guide .next:hover, #guide .prev:hover { opacity:1.0; }*/

 #guide .next, #guide .last {
     background: url('../images/next.png') no-repeat;
 }

 #guide .prev {
     background: url('../images/prev.png') no-repeat;
 }


 /* MAP STUFF */
 header {
     position: absolute;
     left:30px;
     pointer-events:none;
     z-index: 5;
 }

 #details {
     display:none;
      position: absolute;
      left:30px; top:75px;
      pointer-events:none;
      color:white;
      text-align: left;
  }
 #details .grp { margin-top:20px; }
 #details .country {
     color:#00b48f; font-size:25pt;
     text-rendering: optimizeLegibility; /* proper kerning for the word Total */
     margin-bottom:5px;
 }
 #details .country { z-index:11 !important; background-color: #111; height: 1em; }
 #details .year { color:#999; font-size:25pt; margin-bottom:10px; }
 #details .value {   font-size:14pt; color:white;}
 #details .migrants .value {   font-size:12pt; }
 #details .migrants {
     background-image: url(../images/migrants.png);
     background-repeat: no-repeat;
     background-size: 32px 30px;
     background-position: 3px 5px;
     padding-left:50px;
 }
 #details .remittances .value {   font-size:20pt; }
 #details .remittances .title {   font-size:14pt; }
 #details .remittancesPerCapita {
     background-image: url(../images/per-migrant.png);
     background-repeat: no-repeat;
     background-size: 40px;
     padding-left:50px;
 }
 #details .remittancesPerCapita .value {   font-size:20pt; }
 #details .remittancesPerCapita .title {   font-size:14pt; }
 #details .title {  font-size:10pt; color:white; margin-top:0px; margin-bottom:5px; }
 #details .comment { margin-top:3px; display:block; font-size:8pt; color:#999;}




 #chart { text-align: center;  }
 #chart circle { stroke:white; fill: white; fill-opacity: 0.4; stroke-width:1.5; }
 /* #chart circle:hover { fill-opacity: 1; } */


 #chart .map g.arcs path,  #legend path {
     stroke: #090909; stroke-width:0.1;
     opacity: 1;
     fill: white;
 }

 #chart .map g.arcs path:hover { fill:white; }



 #chart .map .land { stroke-width:1.0; }



 #chart .map .land.highlighted {
     /* fill: #67F7C1; */
     stroke:#F2D59A;
     stroke-width:1;

 }
 #chart .map .land.selected {
     /*fill: #9D7C37;*/
     /*fill: #276cab;*/
     stroke: #F2D59A;
     fill:#555;
     stroke-width:1.3;
 }




 #timeline {
     position:fixed;
     bottom:10px;
     width:100%;
     /*height:120px;*/
     text-align: right;
     /*background-color: rgba(0,0,0,0.1);*/
     -webkit-touch-callout: none;
     -webkit-user-select: none;
     -khtml-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
 }


 #timeline .timeAxis g.tick.major line { stroke:#999; }
 #timeline .timeAxis g.tick.major text { stroke:#999; font-size:14px; /*pointer-events:none;*/ }
 #timeline .timeAxis line.tick.minor  { stroke:#999; }


 #timeline .magnitudeAxis { opacity: 0.7; }
 #timeline .magnitudeAxis g.tick.major line { stroke:#999; }
 #timeline .magnitudeAxis g.tick.major text { stroke:#999; font-size:10px; }
 #timeline .magnitudeAxis line.tick.minor  { stroke:#999; }



 #timeline {
     /*pointer-events: none;*/
     vertical-align: bottom;
     white-space: nowrap;
 }

 #timeline .play-parent {
     /*background-color: #111;*/
     visibility:  hidden;
     display:inline-block;
     height:80px; width:80px;
     position: relative;
     top:-85px; left:40px;
     text-align: center;
     line-height: 140px;
     padding:0px 5px 10px 5px;
     border-radius: 10px;
     opacity: 0.98;
 }

  #timeline .play {
     background-image: url('../images/play.svg');
     background-repeat:no-repeat;
     background-position:center top;
     background-size:50px 50px;
     height:80px; width:80px;
     cursor:pointer;
     opacity:0.6;
     pointer-events: visiblePainted;
     color:white;
 }

 #timeline .play:hover { opacity:0.9; }
 #timeline .play.playing {
     background-image: url('../images/pause.svg');
 }

 #timeline g.selectorHand, #timeline g.tseries  { pointer-events: visiblePainted;  }
 #timeline path.domain { fill:#111; fill-opacity:0.1; stroke:#555; stroke-width:0.3; }
 #timeline g.selectorHand { cursor:ew-resize; }
 #timeline g.selectorHand line { stroke:#999; stroke-width:2;   }
 #timeline g.selectorHand circle.center {  fill:#fff; stroke:#666; stroke-width:2; }

 #timeline g.tseries path { stroke-width:2.5; }
 #timeline g.tseries path.remittances { stroke:/*#00b48f*/white; }
 #timeline g.tseries path.aid { stroke:#2c97df; }

 #timeline g.tseries .legend { opacity: 0.9; }
 #timeline g.tseries .legend circle { stroke:#111; stroke-width:1; }
 #timeline g.tseries .legend .remittances  { /*fill:#00b48f;*/ fill:white; }
 #timeline g.tseries .legend .aid  { fill:#2c97df; }
 #timeline g.tseries .legend text { font-size: 10pt; alignment-baseline:central; text-shadow: 1px 1px 1px #111; }



 #countrySelect {
     display:none;
     background-image: url('../images/search.png');
     background-size: 25px 25px;
     background-repeat: no-repeat;
     background-position: 9px 9px;
     position: absolute; top:25px; right:25px;
     background-color: #696969;
     padding-left:43px;
 }
 .typeahead,
 .tt-query,
 .tt-hint {
   width: 250px;
   height: 20px;
   padding: 8px 12px;
   font-size: 18px;
   line-height: 30px;
   border: 2px solid #ccc;
   outline: none;
 }

 .typeahead {
   background-color: #fff;
 }

 .typeahead:focus {
   border: 2px solid #0097cf;
 }

 .tt-query {
 }

 .tt-hint {
   color: #999
 }

 .tt-dropdown-menu {
   width: 250px;
   margin-top: 12px;
   padding: 8px 0;
   background-color: #fff;
   border: 1px solid #ccc;
   border: 1px solid rgba(0, 0, 0, 0.2);
   -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
           border-radius: 8px;
   -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
      -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
           box-shadow: 0 5px 10px rgba(0,0,0,.2);
 }

 .tt-suggestion {
   padding: 3px 20px;
   font-size: 18px;
   line-height: 24px;
   text-shadow: none;
 }

 .tt-suggestion.tt-is-under-cursor {
   color: #fff;
   background-color: #0097cf;

 }

 .tt-suggestion p {
   margin: 0;
 }


 /*
  * Swiper - Mobile Touch Slider CSS
  * http://www.idangero.us/sliders/swiper
  *
  * Vladimir Kharlampidi, The iDangero.us
  * http://www.idangero.us/
  *
  * Copyright 2012, Vladimir Kharlampidi
  * The iDangero.us
  * http://www.idangero.us
  *
  * Licensed under GPL & MIT
  *
 */

 /* Swiper Styles */
 .swiper-container {
     margin:0 auto;
     position:absolute;
     top: 0;
     left: 0;
     overflow:hidden;
     -webkit-backface-visibility:hidden;
     -moz-backface-visibility:hidden;
     -ms-backface-visibility:hidden;
     -o-backface-visibility:hidden;
     backface-visibility:hidden;
     /* Fix of Webkit flickering */

     background: url(../images/aside_bg.png) repeat-y left;
     background-size:430px 1px;
     /*background: url(../images/aside_bg_darker.png) repeat-y left;*/
     z-index:1;
 }
 .swiper-wrapper {
     position:relative;
     width:100%;
     -webkit-transition-property:-webkit-transform, left, top;
     -webkit-transition-duration:0s;
     -webkit-transform:translate3d(0px,0,0);
     -webkit-transition-timing-function:ease;

     -moz-transition-property:-moz-transform, left, top;
     -moz-transition-duration:0s;
     -moz-transform:translate3d(0px,0,0);
     -moz-transition-timing-function:ease;

     -o-transition-property:-o-transform, left, top;
     -o-transition-duration:0s;
     -o-transform:translate3d(0px,0,0);
     -o-transition-timing-function:ease;
     -o-transform:translate(0px,0px);

     -ms-transition-property:-ms-transform, left, top;
     -ms-transition-duration:0s;
     -ms-transform:translate3d(0px,0,0);
     -ms-transition-timing-function:ease;

     transition-property:transform, left, top;
     transition-duration:0s;
     transform:translate3d(0px,0,0);
     transition-timing-function:ease;

 }
 .swiper-slide {
     float: left;
     background: url(../images/aside_bg.png) repeat-y left;
     background-size:430px 1px;
 }

 /* IE10 Windows Phone 8 Fixes */
 .swiper-wp8-horizontal {
     -ms-touch-action: pan-y;
 }
 .swiper-wp8-vertical {
     -ms-touch-action: pan-x;
 }

 /* Specify Swiper's Size: */
 .swiper-container, .swiper-slide {
     width: 100%;
     height: 100%;
 }

 /* Logo */
 .logo {position: absolute;right:5px;bottom:5px;opacity: 0.6;width: 100px; opacity:0.25; border:none; }
 .logo:hover { opacity:1.0; }


 #sources {
     margin-top: 20px;
     /*position:absolute; */
     /*bottom:150px; left:30px;*/
     /*bottom:6px; right:150px;*/
     font-size:11px;
     /*display:inline-block; */
     pointer-events:visiblePainted;
 }
 #sources { color:#999;   }
 #sources ul {
     color:#777;
     /*display:inline-block;*/
     padding:0; margin:0;
     z-index: -10;
 }
 #sources li span {
     background-image:url(../images/i.png);
     background-repeat: no-repeat;
     background-size: 15px 15px ;
     background-position: 1px center;
     padding-left:18px;
     cursor: pointer;
     line-height: 18px;
 }
 #sources li span:hover{ opacity:1.0; }
 #sources li {
     list-style-type: none;
     /*display:inline-block;*/
     /*padding-bottom:0; */
     padding-left:10px;
    padding-top:10px;
 }
 #sources li a {  color:#999; }
 #sources li a:hover { text-decoration: underline; }


 #per-capita { display:none; color:white; position: absolute; top:80px; right:25px; }

 #tooltip {
     max-width: 250px;
     display:none;
     position:absolute;
     top:130px;
     left:20px;
     /*width:200px;*/
     background-color:#ffffd0;
     font-size:10pt;
     text-shadow: none;
     opacity:0.8;
     border-radius:10px;
     padding:5px;
 }

 /*.migrants-text { display:inline-block; }*/
 /*#color-legend { display:inline-block; margin-left:0; padding-left:0; }*/
 #color-legend { display:none; position: absolute; bottom:235px; right:20px; }
 #color-legend text { fill:#999; font-size:11px; font-family: Lato; text-shadow: 1px 1px 1px #111; }
 #color-legend text.axis {  }
 #color-legend text.title {   }


 #circle-legend { display:none; position:absolute; top:80px; right:20px; }
 #circle-legend text {
     font-family: Lato;
     text-shadow: 1px 1px 1px #111; fill:#ccc; font-size:8px;
     alignment-baseline:central;
 }
 #circle-legend rect {
     stroke:#333;
 }

 #circle-legend circle {
    stroke-width:1;
    stroke:#ccc;
 }


 @media screen and (max-height:700px) {
     /* if you change this change it below as well */


    h1 { font-size:14pt; }
    #guide aside {
        font-size:10pt;
        margin-top:-200px;
    }
    #guide aside h2 { font-size:18pt; }
    #guide aside p { line-height:20px; padding-bottom:10px; }
    #guide .content { height:20em; }
    #details { top:60px; left:30px; }
    #details .country { font-size:15pt; }
    #details .year { font-size:16pt; }
    #details .value {   font-size:14pt; }
     #details .migrants .value {   font-size:10pt; }
     #details .migrants {
         background-size: 16px 15px;
         background-position: 3px 5px;
         padding-left:25px;
     }
     #details .remittances .value {   font-size:15pt; }
     #details .remittances .title {   font-size:10pt; }
     #details .remittancesPerCapita {
         background-size: 20px;
         padding-left:25px;
     }
     #details .remittancesPerCapita .value {   font-size:15pt; }
     #details .remittancesPerCapita .title {   font-size:10pt; }
     #details .title {  font-size:8pt;  }
     #details .comment { font-size:6pt; }
    #color-legend text { font-size:7pt; }
    #show-intro { font-size:8pt; }
    #guide .next, #guide .prev, #guide .last {
        height: 50px;
        line-height: 50px;
        background-size:50px 50px;
        padding-left:55px;
    }
     #countrySelect {
         background-size: 15px 15px;
         background-position: 5px 5px;
         padding-left:21px;
     }
     .typeahead,
     .tt-query,
     .tt-hint {
       width: 150px;
       height: 15px;
       padding: 4px 6px;
       font-size: 12px;
       line-height: 15px;
     }

     .tt-dropdown-menu {
       width: 150px;
       padding: 4px 0;
     }

     .tt-suggestion {
       padding: 3px 10px;
       font-size: 14px;
       line-height: 15px;
     }
 }

 @media screen and (max-width:1000px) {
     /* the content should be the same as above */


    h1 { font-size:14pt; }
    #guide aside {
        font-size:10pt;
        margin-top:-200px;
    }
    #guide aside h2 { font-size:18pt; }
    #guide aside p { line-height:20px; padding-bottom:10px; }
    #guide .content { height:20em; }
    #details { top:60px; left:30px; }
    #details .country { font-size:15pt; }
    #details .year { font-size:16pt; }
    #details .value {   font-size:14pt; }
     #details .migrants .value {   font-size:10pt; }
     #details .migrants {
         background-size: 16px 15px;
         background-position: 3px 5px;
         padding-left:25px;
     }
     #details .remittances .value {   font-size:15pt; }
     #details .remittances .title {   font-size:10pt; }
     #details .remittancesPerCapita {
         background-size: 20px;
         padding-left:25px;
     }
     #details .remittancesPerCapita .value {   font-size:15pt; }
     #details .remittancesPerCapita .title {   font-size:10pt; }
     #details .title {  font-size:8pt;  }
     #details .comment { font-size:6pt; }
    #color-legend text { font-size:7pt; }
    #show-intro { font-size:8pt; }
    #guide .next, #guide .prev, #guide .last {
        height: 50px;
        line-height: 50px;
        background-size:50px 50px;
        padding-left:55px;
    }
     #countrySelect {
         background-size: 15px 15px;
         background-position: 5px 5px;
         padding-left:21px;
     }
     .typeahead,
     .tt-query,
     .tt-hint {
       width: 150px;
       height: 15px;
       padding: 4px 6px;
       font-size: 12px;
       line-height: 15px;
     }

     .tt-dropdown-menu {
       width: 150px;
       padding: 4px 0;
     }

     .tt-suggestion {
       padding: 3px 10px;
       font-size: 14px;
       line-height: 15px;
     }
 }


 @media screen and (max-width:880px) and (max-height:650px) {
     #sources { display:none; }
 }
