body {
    font-family: 'Lato',Helvetica, sans-serif; text-shadow: 1px 1px 1px #111;
    font-weight: 300;
    padding:0;
    margin:0;
    background-color: #111;
}

#loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -12px;
}

header {
	z-index: 200;
}

h1 {
	color: white;
	font-size: 25pt;
	font-weight: bold;
}

h2 {
	font-weight: 300;
	font-size: 70px;
	color: #15b290;
	margin: 0;
	padding: 0;
	line-height: 52px;
}

	h2 span {
		font-size: 50px;
		color: #afafaf;
	}

a {
	color: white;
	text-decoration: none;
}
	
/* INTRO STUFF */

#guide {
    visibility: hidden;
    height: 100%;
}

#guide aside {
	padding: 0 30px 60px 30px;
	width: 424px;
	color: white;
}

#guide aside h2 { font-size:25pt; font-weight: bold; }

#guide  aside p {
    padding-top:0px;
    padding-bottom:20px;
	line-height: 24px;
	width: 80%;
}

#guide .skip {
	background: url('../images/skip.png') no-repeat;
	height: 31px;
	display: block;
	line-height: 31px;
	padding-left: 45px;
	margin-left: 20px;
    cursor:pointer;
}

#guide .next, #guide .prev {
	height: 76px;
	display: inline-block;
	line-height: 76px;
	padding-left: 90px;
	margin-bottom: 20px;
    cursor:pointer;
}

/*#guide .next,       #guide .prev       { opacity:0.5; }*/
/*#guide .next:hover, #guide .prev:hover { opacity:1.0; }*/

#guide .next {
	background: url('../images/next.png') no-repeat;
}

#guide .prev {
	background: url('../images/prev.png') no-repeat;
}

#guide .content {
    height:25em;
}

/* MAP STUFF */
header,
#details {
	position: absolute;
	left:30px;
    pointer-events:none;
}

#details {
    display: none;
    position:absolute; top:80px; color:white;
}
#details .country, h2 {
    color:#00b48f; font-size:40px;
    text-rendering: optimizeLegibility; /* proper kerning for the word Total */
    display:inline-block;
    margin-right: 10px;
    margin-bottom:5px;
}
#details .year { color:#999; font-size:25pt; margin-bottom:10px; }
#details .remittances {  display:inline; font-size:14pt; color:white;}
#details .remittancesComment { margin-top:3px; display:block; font-size:8pt; color:#999;}
#details .remittancesTitle {  font-size:10pt; color:white; margin-top:5px; }




#chart { text-align: center;  }
#chart circle { stroke:white; fill: white; fill-opacity: 0; stroke-width:2px; }
/* #chart circle:hover { fill-opacity: 1; } */


#chart .map g.arcs path,  #legend path {
    stroke: #090909; stroke-width:0.1;
    opacity: 1;
    fill: white;
}

#chart .map g.arcs path:hover { fill:white; }



#chart .map .land { stroke-width:1.0; }

#chart .map .land:hover, .land.highlighted {
	/* fill: #67F7C1; */
    stroke:#F2D59A;
    stroke-width:1;

}

#chart .map .land.selected {
	fill: #9D7C37;
}



#timeline {
    position:fixed;
    bottom:0px;
    width:100%;
    /*height:120px;*/
    text-align: center;
    /*background-color: rgba(0,0,0,0.1);*/
    -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}




#timeline g.tick.major line { stroke:#999; }
#timeline g.tick.major text { stroke:#999; font-size:16px; pointer-events:none; }
#timeline line.tick.minor  { stroke:#999; }
#timeline path.domain { fill:#999; fill-opacity:0.0; cursor:ew-resize; }
#timeline g.selectorHand { cursor:ew-resize; }
#timeline g.selectorHand line { stroke:#999; stroke-width:2;   }
#timeline g.selectorHand circle {  fill:#fff; stroke:#666; stroke-width:2; }

#timeline g.tseries path { stroke-width:2.5; }
#timeline g.tseries path.remittances { stroke:#00b48f; }
#timeline g.tseries path.aid { stroke:#2c97df; }

#timeline g.tseries .legend { }
#timeline g.tseries .legend .remittances  { fill:#00b48f; }
#timeline g.tseries .legend .aid  { fill:#2c97df; }
#timeline g.tseries .legend text { font-size: 10pt; alignment-baseline:central; }



/*
 * Swiper - Mobile Touch Slider CSS
 * http://www.idangero.us/sliders/swiper
 *
 * Vladimir Kharlampidi, The iDangero.us
 * http://www.idangero.us/
 * 
 * Copyright 2012, Vladimir Kharlampidi
 * The iDangero.us
 * http://www.idangero.us
 *
 * Licensed under GPL & MIT
 *
*/

/* Swiper Styles */
.swiper-container {
	margin:0 auto;
	position:absolute;
	top: 0;
	left: 0;
	overflow:hidden;
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
	-o-backface-visibility:hidden;
	backface-visibility:hidden;
	/* Fix of Webkit flickering */
		
	background: url(../images/aside_bg_darker.png) repeat-y left;
    background-size:600px 1px;
	z-index:1;
}
.swiper-wrapper {
	position:relative;
	width:100%;
	-webkit-transition-property:-webkit-transform, left, top;
	-webkit-transition-duration:0s;
	-webkit-transform:translate3d(0px,0,0);
	-webkit-transition-timing-function:ease;
	
	-moz-transition-property:-moz-transform, left, top;
	-moz-transition-duration:0s;
	-moz-transform:translate3d(0px,0,0);
	-moz-transition-timing-function:ease;
	
	-o-transition-property:-o-transform, left, top;
	-o-transition-duration:0s;
	-o-transform:translate3d(0px,0,0);
	-o-transition-timing-function:ease;
	-o-transform:translate(0px,0px);
	
	-ms-transition-property:-ms-transform, left, top;
	-ms-transition-duration:0s;
	-ms-transform:translate3d(0px,0,0);
	-ms-transition-timing-function:ease;
	
	transition-property:transform, left, top;
	transition-duration:0s;
	transform:translate3d(0px,0,0);
	transition-timing-function:ease;
	
}
.swiper-slide {
	float: left;
}

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
	-ms-touch-action: pan-y;
}
.swiper-wp8-vertical {
	-ms-touch-action: pan-x;
}

/* Specify Swiper's Size: */
.swiper-container, .swiper-slide {
	width: 100%;
	height: 100%;
}
